
#side-menu {
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    min-height: 800px;
}

#side-menu .icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    /* background-color: red; */
}

.icon-home {
    background: url('../svg/home.svg') left no-repeat;
}